paths:
  /storage/image:
    post:
      summary: Upload new image
      tags: [Storage]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                type:
                  type: string
                  example: admin
              required: type
      responses:
        "201":
          description: Image uploaded successfully

    get:
      summary: Get all images
      tags: [Storage]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: content_type
          in: query
          schema:
            type: string
        - name: "type"
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of images retrieved successfully

  /storage/image/{id}:
    get:
      summary: Get image by ID
      tags: [Storage]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Image retrieved successfully
        "404":
          description: Image not found

    put:
      summary: Update image by ID
      tags: [Storage]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Image updated successfully
        "404":
          description: Image not found

    delete:
      summary: Delete image by ID
      tags: [Storage]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Image deleted successfully
        "404":
          description: Image not found
