paths:
  /auth/login:
    post:
      summary: User login
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: super-admin@gmail.com
                password:
                  type: string
                  example: 123
      responses:
        "200":
          description: Login successful
